<!--SECCIÓN IMG SLIDER MENU-->
<section >
  <div id="image" class="container-fluid d-flex p-0" >
    <!--    <img style="height: 30rem" class="img-fluid" src="assets/img/nocheHotel.jpg" width="100%" alt="">-->

    <div class="container d-flex align-items-center" >
      <div class="row">
        <h1 class="text-white" >Restaurant</h1>
        <h3 class="text-white" >Home | Restaurant</h3>
      </div>
    </div>
  </div>
</section>

<!--SECCIÓN NOSOTROS-->
<section>
  <div class="container">
    <div class="row m-5"></div>
    <div class="row">
      <div class="col-lg-8">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <img class="img-fluid" src="assets/img/entrada2.jpg" style="height: 100%" alt="">
            </div>

            <div class="col-6">
            <div class="col-12 mb-3"><img class="img-fluid" src="assets/img/restaurante.jpg"  alt=""></div>
            <div class="col-12"><img class="img-fluid" src="assets/img/restaurante2.jpg"    alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 align-self-center">
        <div class="card border-0 mb-3">
          <div class="card-body">
            <h5 class="card-subtitle mb-1 text-primary font-weight-bold">RESTAURANT</h5>
            <h1 class="card-title " style="font-weight: 900;">Visit our restaurant to eat fresh food</h1>
            <p class="card-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn btn-primary">read more -></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<!--SECCIÓN RESTAURANTE -->
<section>
  <div class="container  mt-5">

    <div class="row">
      <div class="col-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-subtitle mb-1 text-primary font-weight-bold">Restaurant</h5>
            <h1 class="card-title " style="font-weight: 900;">Explore our menu and eat what you want</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/food.jpg" class="img-fluid rounded-start"  alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center">
                  <h5 class="card-subtitle text-primary font-weight-bold">Food</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Fresh fish and onions</h5>
                  <p class="font-weight-bold text-muted">Fresh food directly from our restaurant ready coocked for you and you familly</p>

                </div>
                <button class="right btn btn-primary btn-lg align-self-end">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/food1.jpg" class="img-fluid rounded-start"  alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center">
                  <h5 class="card-subtitle text-primary font-weight-bold">DESERT</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Chocolate cupcakes</h5>
                  <p class="font-weight-bold text-muted">Fresh food directly from our restaurant ready coocked for you and you familly</p>

                </div>
                <button class="right btn btn-primary btn-lg align-self-end">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/food1.jpg" class="img-fluid rounded-start"  alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center">
                  <h5 class="card-subtitle text-primary font-weight-bold">DESERT</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Chocolate cupcakes</h5>
                  <p class="font-weight-bold text-muted">Fresh food directly from our restaurant ready coocked for you and you familly</p>

                </div>
                <button class="right btn btn-primary btn-lg align-self-end">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/food.jpg" class="img-fluid rounded-start"  alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center">
                  <h5 class="card-subtitle text-primary font-weight-bold">Food</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Fresh fish and onions</h5>
                  <p class="font-weight-bold text-muted">Fresh food directly from our restaurant ready coocked for you and you familly</p>

                </div>
                <button class="right btn btn-primary btn-lg align-self-end">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
