.superponer {
  top: -4rem;
  -webkit-box-shadow: 0 0 10px #0c0c0c3b;
  box-shadow: 0 0 10px #0c0c0c3b;
}
.section-background{
  background-image: url('../../../../assets/img/SalonMar.jpg');
}
.testimonials{
  width: 20rem;
  background: #F8F8F8;
}
.restaurant{
  background-color: #F8F8F8;
  -webkit-box-shadow: 0 0 10px #0c0c0c3b;
  box-shadow: 0 0 10px #0c0c0c3b;
}
.para {
  color: #8c8c8c;
  font-size: 12px;
  position: relative;
  bottom: 3px
}
.maintxt {
  color: #1f1f1f;
  font-weight: 500;
}

.img-entera{
  height: 100%;
}

@media(max-width:768px) {
  .superponer{
    top: 0;
  }
}
