<!--SECCIÓN IMG SLIDER MENU-->
<section >
  <div id="image" class="container-fluid d-flex p-0" >
    <!--    <img style="height: 30rem" class="img-fluid" src="assets/img/nocheHotel.jpg" width="100%" alt="">-->

    <div class="container d-flex align-items-center" >
      <div class="row">
        <h1 class="text-white" >About Us</h1>
        <h3 class="text-white" >Home | About Us</h3>
      </div>
    </div>
  </div>
</section>

<!--SECCIÓN NOSOTROS-->
<section>
  <div class="container">
    <div class="row m-5"></div>
    <div class="row">

      <div class="col-lg-4 align-self-center">
        <div class="card border-0 mb-3">
          <div class="card-body">
            <h5 class="card-subtitle mb-1 text-primary font-weight-bold">ABOUT US</h5>
            <h1 class="card-title " style="font-weight: 900;">Trust and quality are our atuus</h1>
            <p class="card-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a routerLink="/hotel/nosotros" routerLinkActive="active" class="btn btn-primary">read more -></a>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="container">
          <div class="row mb-3">
            <div class="col-6"><img class="img-fluid" src="assets/img/piscina.jpg" weight="100%" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="assets/img/panoramicaMonte.jpg"  weight="100%"  alt=""></div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <img class="img-fluid" src="assets/img/sombrillas.jpg" weight="100%" height="auto" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<!--SECCIÓN CARDS COMODIDADES -->
<section class="section-background">
  <div class="container" >
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-3 mt-5 ml-5">
          <h5 class="card-subtitle mb-1 text-primary font-weight-bold">ABOUT US</h5>
          <h1 class="card-title text-white" style="font-weight: 900;">Trust and quality are our atuus</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid" style="padding-bottom: 3.125rem">
    <app-slider-card ></app-slider-card>

  </section>
</section>

<!--SECCIÓN TESTIMONIOS -->
<section style="background-color: #F8F8F8;">

  <div class="container-fluid p-0">
    <div class="row p-0 m-0">
      <div class="col-md-2 "></div>
      <div class="col-md-5 align-self-center p-0">
        <div class="container align-self-center">
          <div class="card  border-0 mb-3">
            <div class="card-body" style="background-color: #F8F8F8;">
              <h5 class="card-subtitle mb-1 text-primary font-weight-bold">Testimonials</h5>
              <h1 class="card-title " style="font-weight: 900;">We trust our customers</h1>
              <div class="card  testimonials border-0">
                <div class="px-2 py-2">
                  <div class="d-flex pt-3">
                    <div><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
                    <div class="ml-2"> <span class="name">Dan Spratling</span>
                      <p class="para">Company name</p>
                    </div>
                  </div>
                  <span class="maintxt">I'm very glad I had the opportunity to visit this hotel. The stuff is very friendly and I will definetly visit the hotel again next year.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 p-0" >
        <img class="img-fluid" style="height: 100%;" src="assets/img/entrada2.jpg" >

      </div>

    </div>
  </div>

</section>
