<section>
  <app-slider [images]="images"></app-slider>

</section>

<section>

  <div class="container-md ">
    <app-form-date class="card superponer "></app-form-date>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="card border-0 mb-4">
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-primary font-weight-bold">ABOUT US</h5>
            <h1 class="card-title " style="font-weight: 900;">Trust and quality are our atuus</h1>
            <p class="card-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="btn btn-primary">read more -></a>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section>
  <div class="container-fluid p-0" >
      <img class="img-fluid" src="assets/img/SalonMar.jpg" alt="Logo del sitio" width="100%" height="auto">
  </div>
</section>
