<!--SECCIÓN IMG SLIDER MENU-->
<section >
<div id="image" class="container-fluid d-flex p-0" >
<!--    <img style="height: 30rem" class="img-fluid" src="assets/img/nocheHotel.jpg" width="100%" alt="">-->

<div class="container d-flex align-items-center" >
  <div class="row">
    <h1 class="text-white" >ROOMS</h1>
    <h3 class="text-white" >HOME | ROOMS</h3>
  </div>
</div>
</div>
</section>

<!--SECCIÓN RESTAURANTE -->
<section>
  <div class="container  mt-5">

    <div class="row">
      <div class="col-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-subtitle mb-1 text-primary font-weight-bold">ABOUT US</h5>
            <h1 class="card-title " style="font-weight: 900;">Trust and quality
              are our atuus</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion1.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Big</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Spacious Room</h5>
                  <p class="font-weight-bold text-muted">The most spacious room you will ever see in our hotel. Equipped with span and warm beds</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion2.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Small</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Small Cheap Room</h5>
                  <p class="font-weight-bold text-muted">Smallest and the most economic room in our hotel. Save an extra buck for your holyday</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion3.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Premium</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Big Room</h5>
                  <p class="font-weight-bold text-muted">Biggest room in our hotel fully equipped with Wi-fi and hot coffee</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion4.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Expensive</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Expensive Luxury Room</h5>
                  <p class="font-weight-bold text-muted">The most expensive room available for milionars and very rich people</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion5.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Big</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Spacious Room</h5>
                  <p class="font-weight-bold text-muted">The most spacious room you will ever see in our hotel. Equipped with span and warm beds</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card restaurant">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/habitacion1.jpg"  class="img-fluid rounded-start" style="height: 100%" alt="...">
              </div>
              <div class="col-md-8 d-flex">
                <div class="card-body align-self-center m-3">
                  <h5 class="card-subtitle text-primary font-weight-bold">Small</h5>
                  <h5 class="card-subtitle text-black font-weight-bold mb-3">Small Cheap Room</h5>
                  <p class="font-weight-bold text-muted">Smallest and the most economic room in our hotel. Save an extra buck for your holyday</p>

                </div>
                <button class="right btn btn-primary btn-lg ">
                  <span class="fas fa-arrow-right fa-fw"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
